<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<form th:action="@{/books/create}" th:method="POST" th:object="${book}">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:field="*{title}">  <!--must match name of field-->
    </div>
    <button type="submit">Post</button>
</form>

<th:block th:include="partials/header :: scripts"></th:block>
</body>
</html>